body {
    background-color: lightgray;
}

.cform-row{
    margin:20px 0;
}
.reset-group{
    display:block !important;    
    text-align:right;
}
.record-list{
    list-style:none;    
}
.record-list li{
    margin: 1em;
}
.record-list li:nth-child(even){
    background: #EEE;
}

.record-list li:nth-child(odd){
    background: #FFF;
}
